<h1>Editing cryptocoin</h1>

<%= render "form", cryptocoin: @cryptocoin %>

<br>

<div>
  <%= link_to "Show this cryptocoin", @cryptocoin %> |
  <%= link_to "Back to cryptocoins", cryptocoins_path %>
</div>
